
    <!-- This is the map footer -->

      <% if request.env['PATH_INFO'] == '/' %>
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <% if user_signed_in? %>
                <div class="col-0 col-sm-0 col-md-0 col-lg-0"></div>
                <div class="col-8 col-sm-7 col-md-8 col-lg-5 mt-3">
                  <%= form_for(:bookmark, :url => bookmarks_path(:bookmark), remote: true, class: "form-inline") do |f| %>
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text bg-primary text-light">Go to bookmark</div>
                      </div>
                      <%= f.select(:bookmark, Bookmark.where(["user_id = ?", current_user.id]).collect {|c| [c.title, c.geolocation ] }, {:include_blank => '-Select-'}, {class: 'form-control', id: 'bookmarkSearch'})  %>
                    </div>
                  <% end %>
                </div>
                <div class="col-4 col-sm-5 col-md-4 col-lg-7 mt-3">
                  <button type="button" name="button" class="btn btn-success float-right" id="locateMe">
                    <i class="fa fa-location-arrow fa-xs"></i> Locate me
                  </button>
                </div>
              <% else %>
                <!-- This span tag does literally nothing :) ;) lol. It just prevents the page from breaking since the javascript file would always be looking for an named 'bookmarkSearch' to add an event to. Since the user is not login, and has no bookmarks to search, I decided to add this so the js could keep working without error. -->
                <span id="bookmarkSearch"></span>
                <div class="col-lg-12 mt-5">&nbsp;</div>
              <% end %>
            </div>
          </div>
        </footer>
      <% end %>



    <!-- Modals and other hiddden elements -->

    <!--Edit Bookmark modal -->
    <div class="modal fade editBookmarModal" id="editBookmarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit bookmark</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= form_for(:bookmark, :url => bookmarks_path(:bookmark), remote: true) do |f| %>
                        <div class="row">
                            <div class="col col-md-2 col-lg-2"></div>
                            <div class="col-md-8 col-lg-8">
                                <div id="edit-bookmark-progress-bar-wrapper" class="progress">
                                    <div id="save-bookmark-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <div id="bookmark-edited" class="alert alert-success text-center" role="alert">
                                    Bookmark edited.
                                </div>

                                <div id="bookmark-edit-error" class="alert alert-danger text-center" role="alert">
                                    Fill in all fields!
                                </div>

                                <input id="editBookmarkId" value="" type="hidden" />

                                <div class="form-row mb-2">
                                    <div class="col">
                                        <%= f.label :title %>:
                                        <%= f.text_field :title, class: 'form-control form-control-sm', id: 'editTitle', required: true, autfocus: true %>
                                    </div>

                                    <div class="col">
                                        <%= f.label :category_id %>:

                                        <%= f.select(:category_id, Category.all.collect {|c| [ c.name, c.id ] }, {:include_blank => '-Select-'}, {class: 'form-control form-control-sm', id: 'editCategoryId'})  %>
                                    </div>
                                </div>

                                <div class="mb-2">
                                    <%= f.label :geolocation %>:
                                    <%= f.text_field :geolocation, class: 'form-control form-control-sm', id: 'editGeolocation', required: true, readonly: true %>
                                </div>

                                <div class="mb-2">
                                    <%= f.label :note %>:
                                    <%= f.text_area :note, class: 'form-control form-control-sm', id: 'editNote', required: true%>
                                </div>



                                <div class="mb-2 text-center">
                                    <%= f.submit 'Save', class: 'btn btn-primary form-control-sm', id: 'editBookmarkButton' %>
                                </div>
                            </div>
                            <div class="col col-md-2 col-lg-2"></div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>


    <!-- Save bookmark modal -->
    <div class="modal fade" id="saveBookmarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Save bookmark</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <%= form_for(:bookmark, :url => bookmarks_path(:bookmark), remote: true) do |f| %>
                      <div class="row">
                          <div class="col-1 col-sm-2 col-md-2 col-lg-2"></div>
                          <div class="col-10 col-sm-8 col-md-8 col-lg-8">
                              <div id="save-bookmark-progress-bar-wrapper" class="progress">
                                  <div id="save-bookmark-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>

                              <div id="bookmark-saved" class="alert alert-success text-center" role="alert">
                                  Bookmark saved.
                              </div>

                              <div id="bookmark-error" class="alert alert-danger text-center" role="alert">
                                  Fill in all fields!
                              </div>

                              <div class="form-row mb-2">
                                  <div class="col">
                                      <%= f.label :title %>:
                                      <%= f.text_field :title, class: 'form-control form-control-sm', id: :title, required: true, autfocus: true %>
                                  </div>

                                  <div class="col">
                                      <%= f.label :category_id %>:

                                          <%= f.select(:category_id, Category.all.collect {|c| [ c.name, c.id ] }, {:include_blank => '-Select-'}, {class: 'form-control form-control-sm'})  %>
                                  </div>
                              </div>

                              <div class="mb-2">
                                  <%= f.label :geolocation %>:
                                  <%= f.text_field :geolocation, class: 'form-control form-control-sm', id: :geolocation, required: true, readonly: true %>
                              </div>

                              <div class="mb-2">
                                  <%= f.label :note %>:
                                  <%= f.text_area :note, class: 'form-control form-control-sm', id: :note, required: true%>
                              </div>



                              <div class="mb-2 text-center">
                                  <%= f.submit 'Save', class: 'btn btn-primary form-control-sm', id: 'saveBookmarkButton' %>
                              </div>
                          </div>
                          <div class="col-1 col-sm-2 col-md-2 col-lg-2"></div>
                      </div>
                  <% end %>
              </div>
              <!--<div class="modal-footer text-center">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> No</button>-->
                  <!--
                  <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
                      <span class="icon">
                        <i class="fas fa-save"></i>
                      </span>
                      <span>Yes</span>
                  <% end %>-->
              </div>
          </div>
      </div>
