<!--<h3>Google Maps</h3>-->
<!--The div element for the map -->
<!--<div id="map"></div>-->
<!--
<%= react_component 'Bookmarks', name: 'Ankur' %>
-->
<div class="modal fade" id="productInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">You must sign in to add bookmarks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                    <div class="row">
                        <div class="col col-lg-2"></div>
                        <div class="col col-lg-8">
                            <div class="mb-1">
                                <%= f.label :email %>:
                                <%= f.text_field :email, class: 'form-control form-control-sm', required: true, autfocus: true %>
                            </div>

                            <div class="mb-1">
                                <%= f.label :password %>:
                                <%= f.password_field :password, class: 'form-control form-control-sm', required: true %>
                            </div>

                            <div class="mb-2">
                                <%= f.check_box :remember_me %>
                                <%= f.label :remember_me %>
                            </div>

                            <div class="mb-1 text-center">
                                <%= f.submit 'Sign in', class: 'btn btn-primary form-control-sm' %>
                            </div>

                            <div class="text-center">
                                <%= link_to "Forgot your password?", new_password_path(:user) %>
                            </div>
                        </div>
                        <div class="col col-lg-2"></div>
                    </div>
                <% end %>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
                    <span class="icon">
                      <i class="fas fa-user-plus"></i>
                    </span>
                    <span>Sign up</span>
                <% end %>
            </div>
        </div>
    </div>
</div>



<!-- Save bookmark modal -->
<div class="modal fade" id="saveBookmarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save bookmark</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_for(:bookmark, :url => bookmarks_path(:bookmark), remote: true) do |f| %>
                    <div class="row">
                        <div class="col-1 col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-10 col-sm-8 col-md-8 col-lg-8">
                            <div id="save-bookmark-progress-bar-wrapper" class="progress">
                                <div id="save-bookmark-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated w-25" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div id="bookmark-saved" class="alert alert-success text-center" role="alert">
                                Bookmark saved.
                            </div>

                            <div id="bookmark-error" class="alert alert-danger text-center" role="alert">
                                Fill in all fields!
                            </div>

                            <div class="form-row mb-2">
                                <div class="col">
                                    <%= f.label :title %>:
                                    <%= f.text_field :title, class: 'form-control form-control-sm', id: :title, required: true, autfocus: true %>
                                </div>

                                <div class="col">
                                    <%= f.label :category_id %>:

                                        <%= f.select(:category_id, Category.all.collect {|c| [ c.name, c.id ] }, {:include_blank => '-Select-'}, {class: 'form-control form-control-sm'})  %>
                                </div>
                            </div>

                            <div class="mb-2">
                                <%= f.label :geolocation %>:
                                <%= f.text_field :geolocation, class: 'form-control form-control-sm', id: :geolocation, required: true, readonly: true %>
                            </div>

                            <div class="mb-2">
                                <%= f.label :note %>:
                                <%= f.text_area :note, class: 'form-control form-control-sm', id: :note, required: true%>
                            </div>



                            <div class="mb-2 text-center">
                                <%= f.submit 'Save', class: 'btn btn-primary form-control-sm', id: 'saveBookmarkButton' %>
                            </div>
                        </div>
                        <div class="col-1 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                <% end %>
            </div>
            <!--<div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> No</button>-->
                <!--
                <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
                    <span class="icon">
                      <i class="fas fa-save"></i>
                    </span>
                    <span>Yes</span>
                <% end %>-->
            </div>
        </div>
    </div>
