<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NM9038NXXW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-NM9038NXXW');
    </script>
    
    <title>URL Reduzer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>

  <!--<%= javascript_pack_tag 'hello_react' %>-->
  </head>

  <body>
   
    <% if request.env['PATH_INFO'] != '/' %>
      <%= render "maps/nav_component" %>
    <% end %>
    

    <%= yield %>

    <%= render "maps/footer_component" %>
  </body>
</html>
