<!DOCTYPE html>
<html>
  <head>
    <title>URL Reduzer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>

  <!--<%= javascript_pack_tag 'hello_react' %>-->
  </head>

  <body>
    <% if request.env['PATH_INFO'] == '/' %>
      
    <% else %>
      <%= render "maps/nav_component" %>
    <% end %>

    <%= yield %>

    <%= render "maps/footer_component" %>
  </body>
</html>
